html{
    box-sizing: border-box;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;

}
h1{
    font-family:fantasy;
    font-size: 50px;

}
.container{
    width: 100%;

}

article{
    display: inline-block;
    padding: 2%;

}

article:nth-of-type(1){
    width: 20%;
    vertical-align: middle;

    
}

article:nth-of-type(2){
    width: 60%;
    vertical-align: top;

}

#finalResults li{
    text-decoration: none;
    display: block;
    text-align: left;
}

#myChart{
    display: inline-block;
}